@charset "UTF-8";
/* table.css */

/* notice, bankbook table에 적용할 2개 */
table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 5px;
    width: 800px;
    height: 500px;
}
table th {
    color: white;
    font-weight: bold;
    background-color: black;
    text-align: center;
}
table td {
    font-size: 12px;
    text-align: center;
